.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #e2a6cd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #a58d8d;
}

.App-link {
  /* background-color: rgb(75, 52, 180); */
  border-radius: 10px;
  border: none;
  color: #805353;
  padding: 2px 32px;
  /* text-align: center; */
  text-align: right ;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.topnav {
  background-color:#f9d2b8;
  color: #e6d1d1;
  /* text-align: center; */
  text-align: right;
}

h3 {
  position: relative;
  display: block;
  transition: 0.5s;
  cursor: pointer;
}
h3::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
  background-color: #260202;
}
h3:hover {
  color: #260202;
}
h3:hover::after{
  transform: scaleX(1);
  transform-origin: left;
}
.homee {
  text-align: left;
  display: flex;
  justify-content: left;
  position: relative;
  left: 10px;
}

.mb-3 {
  color: #260202;
}
